*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    min-height: 90px;
    min-width: 900px;
}
#logo-img{
    
    padding-top: 20px;
    padding-left: 10px;
    width: 300px;
}
header h1{
    display: inline-block;
    margin-left: 5%;
    padding-top: 15px;
    font-size: 50px;
}
header h2{
    display: inline-block;
    margin-left: 5%;
    font-size: 30px;
}
#account-btn{
    width: 50px;
    height: 50px;
    float: right;
    padding-top: 25px;
    padding-right: 40px;
}
#account-btn:hover {
    color: blue;
}
#account-button:hover #account-info{
    display: block;
}
#account-info{
    display: none;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 10px;
    width: 150px;
    height: 100px;
    float: right;
    text-align: center;
    background-color: gray;
}
#change-password{
    border: none;
    color: grey;
    background-color: white;
    margin-top: 10px;
}
#change-password:hover{
    color: black;
}
#log-off{
    border: solid black 1px ;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
}
#log-off:hover{
    border: none;
    background-color: black;
    color: white;
}

main{
    height: calc(100vh - 90px);
    /*background-image:url(assets/mercedes-background.jpg);*/
    
    background-size:cover;
    background-position:center;
    min-width: 900px;
}

#tabs{
    padding-top: 3%;
    margin-left: 3vw;
    width: 15vw;
    float: left;
}
.tab{
    font-size: 100%;
    border: solid black 1px;
    border-radius: 8px;
    background-color: white;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
#table-container{
    position: absolute;
    width: 75vw;
    height: 80%;
    left: 20vw;
    background-color: white;
    opacity: 1s;
    padding: 10px 10px 10px 10px;
    z-index: 100;
   /* overflow-y: scroll;*/
}
#popup{
    position: absolute;
    background-color: rgb(207, 207, 207);
    margin-top: 3vh;
    width: 70vw;
    height: 70vh;
    margin-left: 23vw;
    border-radius: 30px;
    padding: 20px 30px 20px 30px;
    text-align: center;
    display: none;
}
#popup-back{
    float: left;
    border: solid black 2px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 150%;
    margin-left: 30px;
}
#popup-main{
    width: 100%;
    height: 85%;
}
#popup-outputs{
    float: left;
    width: 65%;
    height: 100%;
    overflow-y: auto;
    background-color: red;
    color: white;
}
#popup-inputs{
    float: right;
    height: 100%;
    width: 35%;
    background-color: blue;
    color: white;
}
.incomplete{
    
    background-size: 10%;
    background: linear-gradient(90deg, red 3%, white 3%);
}
.complete{
    /*background: linear-gradient(90deg, green 5%, white 5%);*/
    /*background-color: green;*/
}
.overdue{
    -webkit-animation: overdue-animation 1s infinite;  /* Safari 4+ */
    -moz-animation: overdue-animation 1s infinite;  /* Fx 5+ */
    -o-animation: overdue-animation 1s infinite;  /* Opera 12+ */
    animation: overdue-animation 1s infinite;  /* IE 10+, Fx 29+ */

}
@-webkit-keyframes overdue-animation {
    0%, 49%{
        background: linear-gradient(90deg, red 3%, white 3%);
    }
    50%,100%{
        background-color: white;
    }
}